@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #fff;
  text-decoration: none;
}
header a:hover {
  color: #ffc371;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.main-content {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}
/*products*/
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  max-width: 37rem;
  max-height: 37rem;
}
.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-footer .price,
.product-footer button {
  text-align: center;
  flex: 1;
}
.product-footer .price {
  font-size: 2rem;
}
.button {
  padding: 1rem;
  border: 0.1rem solid #c0c0c0;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button.primary {
  background-color: #ffc371;
}
.button.primary:hover {
  background-color: #d8a968;
}
