@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #fff;
  text-decoration: none;
}
header a:hover {
  color: #ffc371;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.main-content {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}
/*products*/
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  width: 100%;
  height: 37rem;
}
.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-footer .price,
.product-footer button {
  text-align: center;
  flex: 1;
}
.product-footer .price {
  font-size: 2rem;
}
.button {
  padding: 1rem;
  border: 0.1rem solid #c0c0c0;
  background-color: #f0f0f0;
  cursor: pointer;
  outline: none;
}

.button.primary {
  background-color: #ffc371;
}
.button.primary:hover {
  background-color: #d8a968;
}
/*filter*/
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div {
  flex: 1;
}

/* cart.jsx*/

.cart-header {
  text-align: center;
  padding: 1rem;
  margin: 1.1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-header b {
  color: #d4881e;
  font-size: 20px;
}

.basket {
  max-height: 350px;
  overflow: auto;
  text-align: center;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style: none;
}
.cart-items .cart-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-items img {
  width: 7rem;
  height: 10rem;
}

.cart-items li div {
  padding: 1rem;
}
.btn-remove,.close-btn {
  background-color: #dc2424;
  border: 1px solid #dc2424;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.total {
  padding: 10px;
  border-top: 0.1rem solid #c0c0c0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.3rem;
}

.basket-empty {
  margin-top: 100px;
}
.basketlogo {
  width: 100px;
  height: 100px;
}
/* checout form*/
.cart-checkout {
  padding: 10px;
}

.cart-checkout form {
  display: flex;
  flex-direction: column;
}
.cart-checkout form input {
  height: 30px;
  margin: 3px 0 15px 0;
}
/*modal*/
.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.product-details .image-modal {
  flex: 1;
  text-align: center;
}

.product-details .image-modal img {
  min-width: 300px;
  max-height: 80vh;
}
.product-description {
  flex: 1;
}
.product-description .title {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 30px;
  font-weight: bold;
}
.modal-footer {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
